# The mounted directories must have chmod -R 0777 /mydirectory before
version: "3.4"

services:
  data-gen-api:
    build:
      dockerfile: /home/nxf42609/projects/tpte-platform/tp-unicorn/data-gen-api/Dockerfile
      context: /home/nxf42609/projects/tpte-platform/tp-unicorn/data-gen-api/

    container_name: data-gen-api
    image: ${REGISTRY}tp-unicorn/data-gen-api:$TAG
    hostname: data-gen-api
    ports:
      - "8020:80"
    # environment:
      # DATA_GEN_API_PORT: 80
      # DATA_GEN_API_EXT_PORT: 8020
      # DATA_SAVER_EXT_PORT: 8021
      # DATA_RETRIEVE_EXT_PORT: 80
      # DB_SQL_EXT: "sql-server-db"
      # DB_SQL_EXT_PORT: 1433
      # DATA_RETRIEVE_EXT: "data-retrieve"

  data-saver:
    build:
      dockerfile: /home/nxf42609/projects/tpte-platform/tp-unicorn/data-saver/Dockerfile
      context: /home/nxf42609/projects/tpte-platform/tp-unicorn/data-saver/  
    container_name: data-saver
    image: ${REGISTRY}tp-unicorn/data-saver:$TAG
    hostname: data-saver
    ports:
      - "8021:80"
    # environment:
      # DATA_GEN_API_EXT_PORT: 80
      # DATA_SAVER_EXT_PORT: 8021
      # DATA_GEN_API_EXT: "data-gen-api"
      # DATA_RETRIEVE_EXT_PORT: 8022
      # DB_SQL_EXT: "sql-server-db"
      # DB_SQL_EXT_PORT: 1433

  data-retrieve:
    build:
      dockerfile: /home/nxf42609/projects/tpte-platform/tp-unicorn/data-retrieve/Dockerfile
      context: /home/nxf42609/projects/tpte-platform/tp-unicorn/data-retrieve/   
    container_name: data-retrieve
    image: ${REGISTRY}tp-unicorn/data-retrieve:$TAG
    hostname: data-retrieve
    ports:
      - "8022:80"
    # environment:
      # DATA_GEN_API_EXT_PORT: 8020
      # DATA_SAVER_EXT_PORT: 8021
      # DATA_RETRIEVE_EXT_PORT: 8022
      # DB_SQL_EXT: "sql-server-db"
      # DB_SQL_EXT_PORT: 1433

  sql-server-db:
    container_name: sql-server-db
    image: mcr.microsoft.com/mssql/server:2019-latest
    hostname: sql-server-db
    ports:
      - "11433:1433"

    # volumes:
    #   # - /home/nxf42609/test1:/test1
    #   - /home/nxf42609/projects/tpte-platform/tp-unicorn/db-sql/db/data:/var/opt/mssql/data 
    #   - /home/nxf42609/projects/tpte-platform/tp-unicorn/db-sql/db/log:/var/opt/mssql/log 
    #   - /home/nxf42609/projects/tpte-platform/tp-unicorn/db-sql/db/secrets:/var/opt/mssql/secrets 

    environment:
      SA_PASSWORD: "MyStrongPassword123"
      ACCEPT_EULA: "Y"

networks:
  default:
    #external: true
    name: tp-unicorn-net
